body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 2, 148);
  }
#imatgeinici{
  padding: 1%;
    width: 20%;
    height: 20%;
}
@media only screen and (max-width: 768px) {
  body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  #imatgeinici{
    padding: 1%;
    width: 45%;
    height: 45%;
  }
  a.menu {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
  a.active {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
  a.menu:hover {
    opacity:0.5;
    color: black;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  .content {
    border: 1px solid #36383F;
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
  }
  nav {
    background-color: rgb(0, 2, 148);
    height: 65px;
  }
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
}
@media only screen and (min-width: 769px) {
  li {
      float: left;
      margin: auto;
    }
  .ocult-escriptori{
    display: none;
  }  
li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
li a:hover:not(.active) {
      background-color: rgb(251, 255, 4);
      color: black;
    }

.active {
    background-color: #e9e9e9;
    color: black;
  }
} 
.actors {
  height: 15%;
  width: 15%;
}
.centrat {
  display: block;
  margin: auto;
}
.logoscinemes {
  height: 10%;
  width: 10%;
}
#centrat {
  display: block;
  height: 70%;
  width: 70%;
  margin: auto;
}
td, th{
  width: 10%;
  margin: auto;
  border: 1px solid #3315dd
}
.imatges {
  margin: 5px;
  border: 1px solid rgb(27, 12, 238);
  float: left;
  width: 15%;
}

.imatges:hover {
  border: 1px solid rgb(214, 252, 0);
}

.imatges img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.bloc {
  display: inline-block;
  height: 200px;
  margin: 1em;
}